._z-index{
    z-index:1 !important;
}


/* add friends search bar is getting implemented */


.search-box{

    

}

.results{
    color:grey;
    position:absolute;
    display:block;
    max-height:210px;
    overflow-y:scroll;
    width:100%;
    margin-top: 8.1px;
}

.search-box .results .p{
    color: aqua !important;
}

.user-add-button{
    /* float: right */
}

