

    .container {
        position: relative;
    font-family: sans-serif;
    font-size:27px;
    font-weight:normal;
    font-style:italic;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    }

    /* .contacts-container{
        width: 100%;
        height: 100%;
        overflow: scroll;
    } */

    .container img {
        border-radius: 5px;
float: left;
max-width: 60px;
max-height: 60px;
width: 100%;
margin-right: 20px;
border-radius: 50%;
}

    .container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}




.user-sender{

    float: right;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;

}

.contact-sender{

    float: left;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
}


.container img {
        font-size: 10px;
  float: left;
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  margin-right: 9px;
  border-radius: 50%;
  border: 1px solid #343a40;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.sender{
    border-color: #ccc;
    background-color:#DDDDDD;
}

.receiver{

}


.time-right{
    font-size:15px;
    float:right;
    color: #aaa;
}

.time-left {
    font-size:15px;
    float: left;
    color: #999;
}




/* contacts css properties */

.btn-contacts:hover{
     border-color: #ccc;
    background-color:#DDDDDD;
}


.btn-contacts{
    font-family: sans-serif;
    font-size:27px;
    width: 100%;
    height: 75px;
    border:5px solid #343a40;
    color:#343a40;
    padding: 0;
    background: none;
    background-color: #f1f1f1;
    border-radius: 10px ;
}

.btn-contacts span{
    float:left;
    padding-left:9px;
}

.btn-contacts span img{
    font-size: 10px;
    float: left;
    max-width: 48px;
    max-height: 48px;
    width: 100%;
    margin-right: 9px;
    border-radius: 50%;
    border: 1px solid #343a40;
}

.btn-text{
    float:left;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.contact-container{
    overflow:overlay;
    height: 81vh; /* For 100% screen height */
}



.msg-container{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 81vh; /* For 100% screen height */
}



.chat-box{
    width:100%;
    min-height: 100vh;
}


.grid-container {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 20px; 
    min-width: 0; 
}


/* input text message */

.text-input-container
{

}

.inputtxt{
    width:66%;
    margin-left:34.5%;
    height:60px;
}

#chat-message-submit{
    float:right;
}
